<div class="signaturesBody">

    <div class="signaturesPara">
        <h2>Our Signers from {{city}}:</h2>
    </div>

    <div class="allSignatures">
        <ul>
            {{#rows}}
                <li>
                    <a href="{{homepage}}"></a><b>{{first_name}}
                        {{last_name}}</b>
                    {{age}}
                    {{city}}</li>
            {{/rows}}
        </ul>
    </div>

    <a class="backButton" href="/petition/signers">Back to Signers</a>

</div>